@import "variables.scss";

.about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 5rem;
  align-items: center;
  margin-bottom: 4rem;

  &__count {
    margin-bottom: 2rem;

    & a {
      color: $second-main-color;
      margin-right: 2rem;
      text-decoration: none;
      font-size: 1.5rem;
    }

    span {
      color: $main-color;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  &__text {
    h3 {
      color: $text-color;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: 0.7rem;
      margin: 0 0 3rem;
    }
    h2 {
      font-weight: 500;
      font-size: $h2-font;
      line-height: 1.2;

      margin-bottom: 2rem;
    }
    p {
      font-size: $p-font;
      font-weight: 300;
      margin-bottom: 1.5rem;
      max-width: 50rem;
      line-height: 1.8rem;
      color: $second-main-color;
    }
  }

  &__img {
    img {
      transform: scaleX(-1);

      width: 30rem;
      height: auto;

      border-radius: 5%;
    }
  }

  &__btn {
    .btn {
      background: $main-color;
      color: $text-color;
      box-shadow: 4px 4px $text-color;
      padding: 0 2.5rem;
      line-height: 4.2rem;
      display: inline-block;
      text-decoration: none;
      font-size: 1.5rem;
      transition: all ease 0.2s;
      font-weight: 400;
      letter-spacing: 2px;
      margin-right: 2rem;
    }

    .btn:hover {
      background: $text-color;
      color: $main-color;
      box-shadow: 4px 4px $main-color;
    }
  }
}

@media (max-width: 795px) {
  .about {
    grid-template-columns: 1fr;
    text-align: center;

    &__text {
      h2,
      p {
        max-width: 100%;
      }
    }

    &__img {
      order: 2;
    }
  }
}
