@import "variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 0.625=62.5% = 1 rem = 10px
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: $bg-color;
  color: $text-color;
}

.btn {
  background: $main-color;
  color: $text-color;
  box-shadow: 4px 4px $text-color;
  padding: 0 2.5rem;
  line-height: 4.2rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all ease 0.2s;
  font-weight: 400;
  letter-spacing: 2px;
}

.btn:hover {
  background: $text-color;
  color: $main-color;
  box-shadow: 4px 4px $main-color;
}
