// fonts

$main-font: "Rubik", sans-serif;
$big-font: 5rem;
$h2-font: 2rem;
$p-font: 1.5rem;

// colors

$bg-color: #10101a;
$main-color: #2fbf71;
$main-color-black: #239255;
$second-main-color: #ffffffcc;
$text-color: #fff;
